@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;600&display=swap');

body,
html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0 !important;
  color: #fff;
  font-family: "Archivo", sans-serif;
  font-size: 14px !important;
}

body.mbl {
  font-size: 12px;
}

img {
  max-width: 100%;
}

p {
  margin: 0;
  font-size: 1.6em;
  line-height: 1.2;
}

.strong,
strong {
  font-weight: bold;
}

.blue {
  color: #5aabe1;
}

.center {
  text-align: center;
}

.shadowed {
  text-shadow: -2px 2px #000;
}

.hidediv,
.hidden-js-alert,
.hidden-js {
  display: none;
}

.active {
  display: block;
}

.step-title {
  margin: 0;
  padding: 5px;
  text-align: center;
  font-size: 2.2em !important;
  font-weight: bold;
}

.step-title.roz {
  background: #7da5ff;
}

.step-body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  text-align: left;
}

.buttons-container {
  text-align: center;
  padding: 10px;
  font-weight: bold;
}

.buttons-container h4 {
  font-weight: bold;
}

.btn-default {
  background-color: #be86f5;
  border: none;
  color: #fff;
  padding: 0.4em 0;
  text-transform: uppercase;
  max-width: 300px;
  width: 100%;
  outline: none !important;
}

.btn-default.blue-btn {
  background-color: #81a7ff;
}

.btn-default:hover,
.btn-default:active,
.btn-default:focus,
.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default:active.focus,
.btn-default:active:focus,
.btn-default:active:hover {
  color: #fff;
  background-color: #ae69f2;
  border: none;
}

.btn-default.blue-btn:hover,
.btn-default.blue-btn:active,
.btn-default.blue-btn:focus,
.btn-default.blue-btn.active.focus,
.btn-default.blue-btn.active:focus,
.btn-default.blue-btn.active:hover,
.btn-default.blue-btn:active.focus,
.btn-default.blue-btn:active:focus,
.btn-default.blue-btn:active:hover {
  background-color: #749df9;
}

.step-body h3 {
  margin: 1em 0 0.5em;
}

.btn h2 {
  font-size: 2em;
}

.input-label {
  font-size: 1.5em;
}

.main-container {
  text-align: center;
}

.steps-container {
  max-width: 600px;
  text-align: center;
  margin: 0 auto 2em;
}

body.header2 .steps-container,
body.header3 .steps-container {
  top: 1em;
  border: 4px solid #ff4bf0;
}

body.header3 .steps-container {
  border: 4px solid #fdff01;
}

.step-container button {
  margin: 0;
}

.h4,
h4 {
  font-size: 28px;
}

body.mbl .steps-container {
  width: 95%;
  max-width: 420px;
  padding-bottom: 2em;
  margin: 2em auto 0 auto;
}

body.mbl .step-title {
  line-height: 1;
}

input[type="checkbox"] {
  display: none;
}

.margin-y {
  margin: 0.5em 0;
}

.header,
header {
  text-align: center;
  background: #363636;
  padding-top: 10px;
  padding-bottom: 10px;
}

.purple {
  color: #e876ff;
  font-weight: 500;
}

.small {
  font-size: 0.7em !important;
}

.message-btn {
  position: absolute;
  left: 50%;
  bottom: 5px;
  transform: translateX(-50%);
  width: 100%;
  color: #000;
}

.question {
  display: none;
}

.progress {
  max-width: 200px;
  margin: 0 auto;
}

.progress-bar-success {
  background-color: #a480fe;
}

.load-progress-bar {
  animation: load 2.5s linear forwards;
}

@keyframes load {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

.row-eq-height {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -ms-flexbox;
  flex-wrap: wrap;
  flex: 1 0 auto;
}

.left-side,
.right-side {
  padding-right: 0;
  padding-left: 0;
}

.left-side img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 120%;
  max-width: none;
}

.step-body-container {
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.7);
  position: relative;
  background: rgba(0, 0, 0, 0.75);
  width: 100%;
  margin: 2em auto 10px;
  border: 4px solid #29c7ff;
  padding: 10px 5px 25px;
}

.step-container {
  padding: 10px;
}

.step-container:not(#s1) {
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.7);
  position: relative;
  width: 100%;
  margin: 1em auto 10px;
  border: 4px solid #52cfff;
}

.step-container#s7 {
  padding: 0;
}

.img-center img {
  max-width: 200px;
}

.img-left img {
  vertical-align: middle;
  width: 60%;
}

.img-left span {
  display: inline-block;
  width: 39%;
}

.with-margin {
  margin: 1em 0;
}

.large {
  font-size: 2em;
  margin: 1em 0 0.5em;
}

.answers-container {
  padding: 1em 0;
}

.answers-container .btn {
  margin: 1em auto;
  max-width: 300px;
  display: block;
  text-transform: none;
}

.rules {
  margin: 2em auto;
  max-width: 90%;
  font-size: 0.9em;
}

body.mbl #s1 .step-title {
  font-size: 1.7em;
}

body.mbl #s1 p {
  font-size: 1.2em;
}

body.mbl #s1 {
  padding: 0;
}

body.mbl .rules {
  max-width: 98%;
}

body[class^="bgcolor"] .bg-image,
body[class*=" bgcolor"] .bg-image {
  display: none;
}

body.skinmfc {
  color: #000;
}

body.skinmfc .shadowed {
  text-shadow: none;
}

body.skinmfc header,
body.skinmfc .header {
  background: #363636;
}

body.skinmfc .purple {
  color: #292572;
}

body.skinmfc .step-body-container {
  border: 4px solid #292572;
}

body.skinmfc .btn-default.blue-btn,
body.skinmfc .btn-default.blue-btn:hover,
body.skinmfc .btn-default.blue-btn:active,
body.skinmfc .btn-default.blue-btn:focus,
body.skinmfc .btn-default.blue-btn.active.focus,
body.skinmfc .btn-default.blue-btn.active:focus,
body.skinmfc .btn-default.blue-btn.active:hover,
body.skinmfc .btn-default.blue-btn:active.focus,
body.skinmfc .btn-default.blue-btn:active:focus,
body.skinmfc .btn-default.blue-btn:active:hover {
  background-color: #292572;
}

body.skinmfc canvas {
  border: 4px solid #fff;
}

body.skinmfc .step-container:not(#s1) {
  border: 4px solid #292572;
}

body.skinmfc .step-container#s7 {
  border: none;
  box-shadow: none;
}

body.skinmfc .btn-default,
body.skinmfc .btn-default:hover,
body.skinmfc .btn-default:active,
body.skinmfc .btn-default:focus,
body.skinmfc .btn-default.active.focus,
body.skinmfc .btn-default.active:focus,
body.skinmfc .btn-default.active:hover,
body.skinmfc .btn-default:active.focus,
body.skinmfc .btn-default:active:focus,
body.skinmfc .btn-default:active:hover {
  background-color: #292572;
}

body.skinmfc .progress-bar-success {
  background-color: #292572;
}

body.skinmfc .blue {
  color: #146c04;
}

body.skinmfc .bg-image:before {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.55);
}

body.skinmfc .step-body-container {
  background: rgba(255, 255, 255, 0.75);
}

body.skinmfc .step-container:not(#s1, #s7) {
  background: rgba(255, 255, 255, 0.75);
}

.he-ar {
  text-align: right;
  display: block;
}

@media only screen and (max-width: 767px) and (orientation: landscape) {
  header img {
    max-height: 40px;
  }

  .answers-container .btn {
    max-width: 40%;
    display: inline-block;
    margin: 2%;
  }

  .img-center img {
    max-width: 70px;
  }

  body.mbl .steps-container {
    width: 100%;
    max-width: 95%;
    padding-bottom: 2em;
    margin: 1em auto 0;
  }

  .step-container:not(#s1) {
    margin: 1em auto 10px;
  }

  .img-left img {
    max-width: 70px;
  }
}

iframe body {
  background: none !important;
}

.iframe-item {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #000;
}

iframe {
  margin-top: 0;
  min-height: 567px;
  width: 100%;
  border: none;
  max-width: 640px;
  min-width: 281px;
}

.with-margin-cumsmart {
  margin: 0.25em 0;
}

/* from style  */
input[type="submit"] {
  background-color: #292572 !important;
  border: none !important;
  color: #fff !important;
  padding: 0.4em 0 !important;
  text-transform: uppercase !important;
  max-width: 300px !important;
  width: 100% !important;
  outline: none;
  display: inline-block;
  font-size: 24px !important;
  font-weight: bold !important;
  line-height: 1.42857143 !important;
  text-align: center !important;
  white-space: nowrap !important;
  vertical-align: middle !important;
  -ms-touch-action: manipulation !important;
  touch-action: manipulation !important;
  cursor: pointer !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  background-image: none !important;
  border-radius: 4px !important;
}

#item7-iframe {
  min-height: 373px;
  padding-left: 3vw;
  padding-right: 3vw;
  width: 100%;
  border: none;
  max-width: 640px;
  background-color: #000;
}

header img {
  max-height: 40px;
}

body {
  background: none;
  background-color: #000;
}

.h4,
h4 {
  white-space: normal;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 8px;
  margin-right: 8px;
}

.step-body-container {
  padding: 10px 5px 10px;
}

.message-btn-2 {
  color: #b1b1b1;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.buttons-container {
  text-align: center;
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
  font-weight: bold;
}

@media only screen and (max-width: 1024px) {
  header img {
    max-height: 40px;
    max-width: 100%;
  }
}

@media all and (max-width: 767px) and (orientation: landscape) {
  .left-side img {
    width: 85%;
    max-width: 146px;
  }
}

@media all and (min-width: 768px) and (orientation: landscape) {
  .left-side img {
    width: 85%;
    max-width: 146px;
  }

  body.mbl #s1 .step-title {
    margin: 0;
    padding: 5px;
    text-align: center;
    font-size: 2.2em;
    font-weight: bold;
  }

  body.mbl #s1 p {
    font-size: 1.6em;
    line-height: 1.2;
  }
}

body {
  max-width: 100vw !important;
  max-height: 100vh !important;
}

#volume {
  position: fixed;
  right: 1em;
  bottom: 1.5em;
  background-color: #292572;
  text-align: center;
  cursor: pointer;
  z-index: 100;
  width: 12px;
  height: 12px;
  box-shadow: rgb(0 0 0) 0px 0px 3px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid rgb(0, 0, 0);
  box-sizing: content-box;
}

#volume img {
  width: 100%;
  box-sizing: content-box;
  line-height: 0;
  display: block;
}

@media (max-width: 450px) {
  .large {
    font-size: 1.5em;
  }

  .ru_txt1 {
    font-size: 0.7em !important;
  }

  #q1>.buttons-container {
    padding: 30px;
  }

  .butt_text7 {
    font-size: 21px;
  }
}

@media (max-width: 375px) {
  header img {
    max-height: 30px;
  }

  .h4,
  h4 {
    font-size: 20px;
  }

  .step-container:not(#s1) {
    margin: 0em auto 30px;
  }

  .large {
    margin: 0.2em 0 0.2em;
  }

  .buttons-container {
    padding: 0px;
  }

  iframe {
    min-height: 500px;
  }
}

@media (max-width: 350px) {

  .h4,
  h4 {
    font-size: 18px;
  }

  .butt_text7,
  .butt_text {
    font-size: 16px !important;
  }
}

.ru_txt {
  font-size: 0.6em;
}

.ru_txt2 {
  font-size: 0.8em;
}

.pt_txt {
  font-size: 0.8em;
}